bokeh==2.1.0
clickhouse-driver==0.1.3
conda==4.8.3
conda-build==3.19.2
conda-package-handling==1.6.0
earthengine-api==0.1.226
folium==0.11.0
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth==1.17.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.29.0
google-pasta==0.2.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
ipympl==0.5.6
ipython-genutils==0.2.0
jupyter-core==4.6.3
numpy==1.19.0
pandas==1.1.3
protobuf==3.12.2
psycopg2==2.8.5
ptyprocess==0.6.0
ruamel-yaml==0.15.80
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
selenium==3.141.0
sqlparse==0.3.1
